/* 전체 레이아웃 */
#container {
    display: flex;
    font-family: Arial, sans-serif;
}

/* 왼쪽 사이드바 */
#sidebar {
    width: 16vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    border-right: 1px solid lightgray;
    padding: 2vw;
    box-sizing: border-box;
}

/* 인스타 로고 */
.logo {
    width: 8vw;
    margin-bottom: 2vw;
}

.logo:hover {
    cursor: pointer;  /* 커서 바뀜 */
}

/* 아이콘 영역 */
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2vw;  /* 아이콘 사이 거리 */
    font-size: 1vw;
}

.menu2 {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2vw;  /* 아이콘 사이 거리 */
    font-size: 1.5vw;
}

/* 아이콘 옆 글자 */
.menu li {
    display: flex;
    align-items: center;
    gap: 1vw;  /* 아이콘 글자 사이 거리 */
    cursor: pointer;  /* 커서 바뀜 */
}

/* 기어 아이콘에 마우스 올리면 */
.menu2:hover {
    cursor: pointer;  /* 커서 바뀜 */
}

/* 글자에 마우스 올리면 */
.menu li:hover {
    font-weight: bold;
}

/* 아이콘 크기 */
.menu li i {
    font-size: 1.6vw;
}

/* 본문 */
#content {
    margin-left: 18vw;
    padding: 2vw;
    flex: 1;
}

/* 프로필 */
#profile {
    display: flex;
    align-items: flex-start;
    gap: 2.5vw;
    margin-top: 1.5vw;
    padding-left: 13vw;
}

/* 사용자 정보 */
#profile_info {
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
    margin-left: 3vw;
}

#profile_info strong {
    font-size: 1.1vw;
}

/* 사용자 영역 */
.user_detail {
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
    line-height: 1.2;
    font-size: 1vw;
}

/* 사용자 이름 */
.username {
    font-size: 0.5vw;
    font-weight: bold;
}

/* 사진첩 */
.desc {
    color: gray;
    font-size: 1.1vw;
}

/* 고양이 이모티콘 */
.emoji {
    font-size: 1vw;
}

/* 링크 */
.profile_link {
    font-size: 1vw;
    color: rgb(0, 0, 155);
    text-decoration: none;  /* 밑줄 제거 */
    margin-top: 1vw;
}

/* 아이디, 버튼 */
.id_and_buttons {
    display: flex;
    align-items: center;
    gap: 1vw;
}

/* 아이디 */
#id {
    font-size: 1.5vw;
    font-weight: 400;
}

/* 아이디 옆 버튼 영역 */
.button_group {
    display: flex;
    gap: 0.8vw;
}

/* 아이디 옆 버튼 */
button {
    font-size: 1vw;
    border: solid rgb(236, 236, 236) 1px;
    border-radius: 10px;
    padding: 0.2vw 0.8vw;
    background-color: rgb(236, 236, 236);
}

/* 버튼에 마우스 올리면 */
.button:hover {
    background-color: rgb(205, 205, 205);
    cursor: pointer;  /* 커서 바뀜 */
}

/* 회색 외곽 원 */
.highlight_pic_wrapper {
    width: 6.3vw;
    height: 6.3vw;
    margin: 0 auto;

    border: 2px solid lightgray;
    border-radius: 50%;
    padding: 0.3vw;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center; /* 이미지 가운데로 */
    overflow: hidden; /* 넘치는 거 잘라냄 */
}

/* 안에 들어가는 이미지 */
.circle_pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}  

/* 프로필 크기 */
#profile_pic {
    width: 10vw;
    height: 10vw;
    margin-top: 3vw;
}

/* 프로필에 마우스 올리면 */
#profile_pic img:hover {
    cursor: pointer;  /* 커서 바뀜 */
}

/* 하이라이트 크기*/
.highlight_pic {
    width: 5.5vw;
    height: 5.5vw;
    margin: auto;
}

/* 하이라이트 영역 */
#highlight_area {
    display: grid;
    grid-template-columns: 8vw 8vw 1fr;
    margin-top: 1.5vw;
    padding-left: 10vw;
}

/* 하이라이트 글자 */
.highlight {
    text-align: center;
}

/* 하이라이트 텍스트 */
.highlight strong {
    display: block;
    font-size: 0.7vw;
    margin-top: 1vw;
}

/* 하이라이트에 마우스 올리면 */
.highlight:hover {
    cursor: pointer;  /* 커서 바뀜 */
}

/* 통계 */
#stat_bar {
    display: flex;
    gap: 2vw;
    margin: 0.8vw 0;
    font-size: 1.2vw;
}

/* 숫자, 글자 */
.stat {
    display: inline-flex;
    gap: 0.5vw;
    align-items: baseline;  /* 숫자와 텍스트 높이 기준 맞춤 */
}

/* 숫자 옆 글자 */
.label {
    color: gray;
    line-height: 1;
    vertical-align: baseline;
}

/* 숫자 */
.count {
    color: black;
    font-weight: bold;
    line-height: 1;
    vertical-align: baseline;
}

/* 게시물 */
.post_grid {
    display: flex;  /* 가로로 정렬 */
    justify-content: center;  /* 가운데 정렬  */
    gap: 0.3vw;  /* 사진 간격 */
    margin-top: 0.3vw;  /* 사진 위 아래 간격 */
}

/* 게시물 이미지 조정 */
.post_grid img {
    width: 25%;  /* 이미지 크기 */
    height: auto;  /* 이미지 비율 유지 */
    object-fit: cover;
    display: block;  /* 여백 지우기 */
}

/* 게시물에 마우스 올리면 */
.post_grid img:hover {
    cursor: pointer;  /* 커서 바뀜 */
}

/* 게시물 위 아이콘 영역 */
#sub_icons {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;

    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2vw;
    margin-left: 18vw;

    gap: 0.8vw;
    font-size: 1vw;
    height: 2.5vw;
}

/* 아이콘에 마우스 올리면 */
.icon_selected:hover {
    cursor: pointer;  /* 커서 바뀜 */
    border-top: 2px solid gray;
}

.icon_content {
    padding-top: 0.8vw; /* 선, 아이콘 사이 간격 */
    display: inline-block;
}

/* 아이콘 위 선 */
hr {
    border: solid rgb(219, 219, 219) 1px;
    width: 65vw;
    margin-top: 4vw;
    margin-bottom: 0;
    padding: 0;
}